  body {
    font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
    background:#080357;
    color: rgb(0, 0, 0);
    padding: 50px 0;
  }
  .main{
    padding: 8px;
    font-weight: 600;
    letter-spacing: .09em;
    text-transform: uppercase;
    text-align-last: center;
    color: white;
  }
  h1{
    font-weight: 500;
    font-size: 20;
    padding: 30px;
    letter-spacing: .09em;
    text-transform: uppercase;
    text-align-last: center;
    color: #FF9F1C;
  }

  .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .container * {
    box-sizing: border-box;
  }
  
  .flex-outer,
  .flex-inner {
    list-style-type: none;
    padding: 0;
  }
  
  .flex-outer {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
  }
  
  .flex-outer li,
  .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .flex-inner {
    padding: 0 8px;
    justify-content: space-between;  
  }
  
  .flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .flex-outer li label,
  .flex-outer li p {
    padding: 8px;
    font-weight: 500;
    letter-spacing: .09em;
    text-transform: uppercase;
    color:#FF9F1C;

  }
  
  .flex-outer > li > label,
  .flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
    
  }
  
  .flex-outer > li > label + *,
  .flex-inner {
    flex: 1 0 220px;
  }
  
  .flex-outer li p {
    margin: 0;
  }
  
  .flex-outer li input:not([type='checkbox']),
  .flex-outer li textarea {
    padding: 15px;
    border: none;
    color:#FF9F1C;
    font-weight: 500;

  }
  
  .flex-outer li button {
    padding: 8px 16px;
    border: none;
    color: #d6ffb7;
    background: #FFC15E;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
    font-weight: 500;
  }
  
  .flex-inner li {
    width: 100px;
  }

  .navbar {
    /*list-style-type: none;
    align-items: center;
    padding-left: 512px;
    */
    justify-content: space-evenly;
    background: #FFC15E;

  }

  .navbar-item{
    color: #d6ffb7;
    font-size: 27;

  }

  h3{
    font-weight: 500;
    font-size: 50;
    letter-spacing: .09em;
    text-transform: uppercase;
    text-align-last: center;
    padding-left: 200px;
    color: #FF9F1C
  }

  .wrapper {
    display:block;
    margin: 0 auto;
    color: aliceblue;
    padding-left: 612px;
    }


      h5{
        font-weight: 500;
        font-size: 20;
        padding: 30px;
        padding-right: 512px;
        letter-spacing: .09em;
        text-transform: uppercase;
        text-align-last: center;
        color: #FF9F1C;
      }